NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
REMOTION_RENDER_MODE=local
REMOTION_AWS_REGION=
REMOTION_LAMBDA_FUNCTION_NAME=

NEXT_PUBLIC_UI_BRAND=perplexity
